@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@

    
    <main>
        <div>
            <NavBar />
        </div>
        <article class="container-md">
            @Body
        </article>
    </main>
</div>
